.container {
  background-color: #e7deaf;
  padding: 20px;
  text-align: center;
  justify-items: center;
}

.studyContents {
  background-color: #d7c097;
  border: 1px solid black;
  border-radius: 15;
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 10px 0;
  background-color: #73af6f;
  border: 0;
  text-align: center;
  border-radius: 12;
  padding: 0 20px;
  line-height: 2.5;
  cursor: pointer;
  width: 123px;
}

/* D7C097
E7DEAF
73AF6F
007E6E */

@media (max-width: 600px) {
  .studyContents {
    width: 140.25px;
  }
}
