.container {
  text-align: center;
  justify-items: center;
}

.externalBox {
  border: 1px solid black;
  border-radius: 5px;
  width: 360px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e7deaf;
}

.internalBox {
  border: 1px solid black;
  width: 80%;
  height: 120px;
  border-radius: 5px;
  align-content: center;
}

.button {
  background-color: #73af6f;
  border: 0;
  padding: 0 20px;
  line-height: 2.5;
  width: auto;
  cursor: pointer;
  border-radius: 12px;
}

.nextContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.paragraph {
  margin-top: 0;
}
